header{
    background-color: grey;
    padding: 10px;
    width: 75%;
    text-align: center;
}

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    margin: 20px;
    text-align: center;
    width: 75%;
}

article{
    background-color: aliceblue;
    width: 750px;
    height: 500px;
    padding: 15px;
}
li{
    margin: 25px;
}

footer{
    background-color: grey;
    text-align: left;
    padding: 10px;
}

a:link {
  color: blue;      
  text-decoration: none;
}

a:visited {
  color: purple;    
}

a:hover {
  color: red;       
  text-decoration: underline;
}

a:focus {
  outline: 2px solid #ffcc00; 
  background-color: black;
  color: white;
}

a:active {
  color: orange;     
}

