header{
    background-color: #f4f4f4;
    padding: 10px;
    width: 80%;
    text-align: center;
    border-radius: 8px;
}

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
}

nav{
    text-align: center;
    width: 17%;
    display: inline-block;
    padding: 30px 75px 30px 75px;
}

article{
    background-color: aliceblue;
    width: 75%;
    height: auto;
    padding: 15px;
}
li{
    margin: 25px;
}

footer{
    background-color: #f4f4f4;
    text-align: left;
    padding: 10px;
    width: 80%;
    border-radius: 8px;
}

a:link {   
  color: black;
  text-decoration: none;
  padding: 25px;
  border-radius: 8px;
}

a:hover {       
  background-color: lightblue;
  color: black;
}

a:focus { 
  background-color: darkblue;
  color: black;
}



