header{
    background-color: #f4f4f4;
    padding: 10px;
    width: 80%;
    text-align: center;
}

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    text-align: center;
    width: auto;
    display: inline-block;
    padding: 30px 75px 30px 75px;
    color: black;
}

article{
    background-color: aliceblue;
    width: 75%;
    height: auto;
    padding: 15px;
}
li{
    margin: 25px;
}

footer{
    background-color: #f4f4f4;
    text-align: left;
    padding: 10px;
    width: 80%;
}

a:link {   
  color: black;
}

a:hover {
  color: red;       
  background-color: red;
}

a:focus { 
  background-color: black;
  color: white;
}

a:active {
  color: orange;     
}

