header{
    background-color: #f4f4f4;
    padding: 10px;
    width: 80%;
    text-align: center;
    border-radius: 8px;
    margin: 0 auto;
}

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
}

nav{
    display: inline-block;
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 25px;
}
.H3{
    text-align: center;
}

article{
    background-color: aliceblue;
    width: 75%;
    height: 450px;
    padding: 15px;
    margin: 0 auto;
}
li{
    margin: 25px;
}

footer{
    background-color: #f4f4f4;
    padding: 10px;
    width: 80%;
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
a{
 margin: 52px;
}

a:link {   
  color: black;
  text-decoration: none;
  padding: 25px;
  border-radius: 8px;
}

a:hover {       
  background-color: lightblue;
  color: black;
}

a:focus { 
  background-color: darkblue;
  color: black;
}



